body
{
    width: auto;
}
.count_div
{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}

.access_today
{
    text-align: center;
    width: calc(100% - 400px);
}

.access_yesterday
{
    text-align: center;
    width:400px;
}

.count_div_month
{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}

.access_month
{
    text-align: center;
    width: calc(100% - 400px);
}

.access_lastmonth
{
    text-align: center;
    width:400px;
}
#サイドバーの設定
.sidebar 
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 90px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    z-index: 99;
}

@media (max-width: 767.98px) 
{
    .sidebar 
    {
        top: 11.5rem;
        padding: 0;
    }
}

.navbar 
{
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

@media (min-width: 767.98px) 
{
    .navbar 
    {
        top: 0;
        position: sticky;
        z-index: 999;
    }
}

.sidebar .nav-link 
{
    color: #333;
}

.sidebar .nav-link.active 
{
    color: #0d6efd;
}

.table th ,td
{
    border: 1px solid;
}

.table
{
    display: block;
    overflow-y: scroll;
    height: calc(100vh/2);
    border:1px solid;
    border-collapse: collapse;
}

.table thead th
{
    position: sticky;
    top: 0;
    z-index: 1;
    background: rgb(202, 215, 223);
    border-top:#FFFFFF;
}